.ui-datepicker-wrapper{
	position: absolute;
	width: 240px;
	font-size: 16px;
	color: #666;
	box-shadow: 2px 2px 8px 2px rgba(128,128,128,.3);
	
}

.ui-datepicker-wrapper-show{
	display: block;
}

.ui-datepicker-wrapper .ui-datepicker-header{
	padding: 0 20px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: #f0f0f0;
	border-bottom: 1px solid #ccc;
	font-weight: bold;
}

.ui-datepicker-wrapper .ui-datepicker-btn{
	font-family: serif;
	font-size: 20px;
	width: 20px;
	height: 50px;
	line-height: 50px;
	color: #1ab;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
}

.ui-datepicker-wrapper .ui-datepicker-btn.ui-datepicker-prev{
	float: left;
}

.ui-datepicker-wrapper .ui-datepicker-btn.ui-datepicker-next{
	float: right;
}

.ui-datepicker-body table{
	width: 100%;
	border-collapse: collapse;
	text-align: center;
}

.ui-datepicker-body table th,
.ui-datepicker-body table td{
	height: 30px;
	line-height: 30px;
}

.ui-datepicker-body table th{
	font-size: 14px;
	height: 40px;
	line-height: 40px;
}

.ui-datepicker-body table td{
	border: 1px solid #f0f0f0;
	font-size: 14px;
	cursor: pointer;
}

.ui-datepicker-body table td.otherMon{
	color: #cbcbcb;
}

.ui-datepicker-body table td:hover{
	color: #fff;
	background: #1ab;
}

.ui-datepicker-body table thead tr{
	background: #2edada;
}